{% extends "base.html" %}

{% macro chart(name, series, options={}) %}
	<div class="chart" id="{{ name }}"></div>
	<script type="text/javascript">
		{% set default_options = {
				'xaxis': {
					'mode': 'time'
				},
				'colors': [
					"#000099",
					"#990000",
					"#009900"
				],
				'legend': {
					'position': 'se'
				}
		} %}
		{% set chart_options = default_options %}
		{% set devnull = chart_options.update(options) %}
		$.plot("#{{ name }}", {{ series|tojson|safe }}, {{ chart_options|tojson|safe }});
	</script>
{% endmacro %}

{% block javascript %}
{{super()}}
<script src="{{ url_for('static', filename='js/jquery.flot.min.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block container %}
<style type="text/css">
	.chart {
		width: 100%;
		height: 300px;
	}
</style>
<div class="page-header">
	<h1>Charts</h1>
</div>

<h2>Temperature</h2>
{{ chart('tempchart', [
		{'label': 'CPU', 'data': temperatures.cpu},
		{'label': 'Indoor', 'data': temperatures.indoor},
		{'label': 'Outdoor', 'data': temperatures.outdoor},
	]
)
}}

<h2>Load</h2>
{{ chart('loadchart', [
		{'label': 'CPU', 'data': loads.cpu}
	], {
		'yaxis': {'min': 0, 'max': 100}
	}
)
}}

<h2>Memory</h2>
{{ chart('memchart', [
		{'label': 'RAM', 'data': mems.ram},
		{'label': 'SWAP', 'data': mems.swap}
	]
)
}}
{% endblock %}
